node_modules
build
.git
.cache
.parcel-cache
coverage
dist
tmp
temp
*.log

ui/android/.gradle
ui/android/gradle
ui/android/app/build
ui/android/build
ui/android/*.apk

android/.gradle
android/build
android/app/build

**/__pycache__
